.text-primary {
  color: white;
}

header {
  background-color: #260e3e;
}

footer {
  background-color: #260e3e;
  color: white;
}

.btn-purple {
  background-color: #6b3e99;
  border-color: #6b3e99;
  color: white;
}

.btn-purple:hover {
  background-color: #8a5ebc;
  border-color: #8a5ebc;
}
